<%- model_class = User -%>
<div class="page-header">
  <h1>マイページ</h1>
</div>

<dl class="dl-horizontal">
  <h4><dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd></h4>
</dl>
<table class="table table-striped">
  <tbody>
    <td><h3>お気に入り動画一覧</h3></td>
    <% @user.trainings.each do |training| %>
    <tr>
  <% if training.youtube? %>
    <td><%= training.youtube.html_safe %></td>
  <% else %>
    <td>
     <%= render 'trainings/video', training: training %>
    </td>
    <% end %>
    <td  align="left">
      <%= training.explain %><br />
    </td>
    <% end %>
  </tbody>
</table>
